<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Dashboard</title>
	</head>
	
	<body>
		<p> Pls work </p>
		<p th:text="|${user.username}|"></p>
		
		<div th:each="entity : ${toodoolist}">
                <a th:href="@{/toodoo/{toodooid}(toodooid=${entity.toodooid})}">[[${entity.item}]]</a>
        </div>
		
		<form method="post" action="/dashboard">
			<input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<div>
				toodoo item: <input type="text" th:field="${toodoo.item}" />
			</div>
			<button type="submit">Enter</button>
		</form>
		
		<form method="post" action="/logout">
			<input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button type="submit">Logout</button>
		</form>
	</body>
</html>